
.table-head tr {
    display: table-row;
    background-color: sandybrown;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.table-head th {
    padding: 10px;
    margin: 0 auto;
}

td {
    padding: 5px 10px 5px 10px;
    font-family: monospace;
    font-size: 13px;
    border: 1px solid salmon;
}

